extends layout

block content
  #banner.page-header
    .row
      .col-md-6.col-sm-12
        h1= title
  .row
    .col-md-6.col-sm-12
      p 
        | Loc8r is a dummy app created following the book Getting MEAN. It does not scritly follow the books example because of either an error or software version differences